<footer class="bg-white shadow-lg dark:bg-gray-800 w-full py-8">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <!-- Copyright Section -->
      <div class="text-center md:text-left mb-4 md:mb-0">
        <span class="text-sm text-gray-500 dark:text-gray-400">
          © 2023
          <a href="/" class="text-blue-500 hover:underline">Uthm Swimming pool™</a>. All Rights Reserved.
        </span>
      </div>
      <!-- Links Section -->
      <div>
        <ul class="flex flex-wrap justify-center md:justify-end gap-4 text-sm font-medium text-gray-500 dark:text-gray-400">
          <li><a href="#" class="hover:underline">Privacy Policy</a></li>
          <li><a href="#" class="hover:underline">Licensing</a></li>
          <li><a href="#" class="hover:underline">Contact</a></li>
        </ul>
      </div>
    </div>
    <!-- Map Section -->
    <div class="mt-10">
      <div id="map" class="h-80 w-full md:w-full lg:w-3/4 mx-auto rounded-lg shadow-md"></div>
    </div>
  </div>
</footer>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= googleMapsApiKey %>&callback=initMap" async defer></script>

<script>
  function initMap() {
    var universityLocation = { lat: 1.855655342188528, lng: 103.083320064897 };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 17,
      center: universityLocation
    });
    var marker = new google.maps.Marker({
      position: universityLocation,
      map: map,
      title: "University Location"
    });
  }
</script>
